.form-signin .select-lista {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .tekst-boks {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="number"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="date"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
